<table class="table table-striped table-bordered">
  <thead>
    <% for row in headers do %>
      <tr>
        <% for column in row do %>
          <% unless column == 'Hidden' %>
            <th style='text-align: center;'><%= column %></th>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <tbody>
    <% totals = [] %>
    <% r = 0 %>
    <% for row in results do %>
      <tr>
        <% s = 0 %>

        <% for column in row do %>
          <% totals[s] ||= 0 %>
          <% unless formats[s] == 'Hidden' %>
            <td style="text-align: <%= report_align(formats[s]) %>;">
              <% if formats[s] == "Percentage" %>
                <% totals[s] = totals[s] + column %>
                <%= number_with_precision(column, precision: 2) %>%
              <% elsif formats[s] == 'Link' %>
                <% if column.is_a? Array %>
                  <%= link_to column[0], column[1] %>
                <% else %>
                  <%= column.to_s %>
                <% end %>
              <% elsif formats[s] == "DateTime" %>
                <%= l(column, format: :us_long) if column %>
              <% elsif formats[s] == 'Email' %>
                <%= message_to(column, column) %>
              <% elsif formats[s] == 'Money' %>
                $<%= number_with_precision(column, precision: 2) %>
                <% totals[s] = totals[s] + column %>
              <% elsif formats[s] == 'Date' %>
                <%= l(Date.parse(column)) unless column.blank? %>
              <% elsif formats[s] == 'Integer' %>
                <% totals[s] = totals[s] + (column || 0) %>
                <%= column %>
              <% elsif formats[s] == 'TextBox' %>
                <input type="text" id="col_<%= s %>_row_<%= r %>" value="<%= column %>" />
              <% elsif formats[s] == 'Javascript' %>
                <script type="text/javascript"><%= column %></script><span id="result_<%= s %>_row_<%= r %>"></span>
              <% else %>
                <%= column %>
              <% end %>
            </td>
          <% end %>
          <% s += 1 %>
        <% end %>
        <% r += 1 %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th>Totals</th>
    <% s = 0 %>
    <% for column in row do %>
      <% if s > 0 %>
        <% unless formats[s] == 'Hidden' %>
          <th style="text-align: <%= report_align(formats[s]) %>;">
            <% if formats[s] == "Percentage" %>
              <%= number_with_precision(totals[s], precision: 2) %>%
            <% elsif formats[s] == 'Money' %>
              $<%= number_with_precision(totals[s], precision: 2) %>
            <% elsif formats[s] == 'Integer' %>
                <%= totals[s] %>
            <% elsif formats[s] == "TextBox" %>
                &nbsp;
            <% else %>
                <%= r %>
            <% end %>
          </th>
        <% end %>

      <% end %>
      <% s += 1 %>
    <% end %>

  </tfoot>
</table>
